mat-drawer-container {
  width: 100%;
  height: 100%;
}

.drawer-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-toolbar {
    // flex shrink causes extra scrollbar
    flex: none;
  }

  app-selection-criteria {
    height: 100px;
    flex: auto;
  }
}
