mat-drawer-container {
  width: 100%;
  height: 100%;
}

.drawer-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-toolbar {
    // flex shrink causes extra scrollbar
    flex: none;
  }

  app-selection-criteria {
    height: 100px;
    flex: auto;
  }
}

// ESRI buttons are offset in global styles.scss
.map-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.styling-content {
  padding: 0 16px 16px 16px;
}
