@let busyRegions = criteriaRequest()?.busyRegions$ | async;
@let isBusy = busyRegions && busyRegions.size > 0;
<mat-drawer-container hasBackdrop="false" class="reef-guide">
  <mat-drawer #drawer>
    @switch (drawerMode()) {
      @case ('criteria') {
    <div class="drawer-content">
      <mat-toolbar>
        <span style="flex: auto">Criteria</span>
        <button mat-button (click)="criteria.reset()"
                matTooltip="Reset all criteria to min/max">Reset</button>
        <button mat-icon-button (click)="drawer.toggle(false)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
      <app-selection-criteria #criteria></app-selection-criteria>
      <mat-toolbar>
        @if (isBusy) {
          <button mat-stroked-button (click)="cancelCriteriaRequest()">Cancel</button>

        } @else if (assessedRegionsGroupLayer()) {
          <button mat-button (click)="clearAssessedLayers()">Clear</button>
        }
        <span style="flex: auto"></span>
        @if (isBusy) {
          <mat-progress-spinner mode="indeterminate" diameter="32"
                                [matTooltip]="getLoadingRegionsMessage(busyRegions!)">
          </mat-progress-spinner>
        }
        <button mat-flat-button
                [disabled]="isBusy"
                (click)="onAssess(criteria.getCriteria())">Assess</button>
      </mat-toolbar>
    </div>
      }
      @case ('style') {
        <mat-toolbar>
          <span class="flex: auto">Layer Styling</span>
          <button mat-icon-button (click)="drawer.toggle(false)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-toolbar>
        <div class="styling-content">
        @if (styleEditorLayer(); as styleEditorLayer) {
          <h2 class="mat-headline-small">Tile Layer</h2>
          <app-layer-style-editor [layer]="styleEditorLayer"></app-layer-style-editor>
        } @else {
          <em>Assess to create the layer.</em>
        }
        </div>
      }
    }
  </mat-drawer>
  <mat-drawer-content>
    @if (mapItemId$ | async; as mapItemId) {
    <arcgis-map [itemId]="mapItemId"
                (arcgisViewReadyChange)="arcgisViewReadyChange($event)"
                (arcgisViewClick)="arcgisViewClick($event)">
      <arcgis-fullscreen position="top-right"></arcgis-fullscreen>
      <arcgis-zoom position="top-right"></arcgis-zoom>
      <arcgis-expand position="top-left">
        <arcgis-layer-list></arcgis-layer-list>
      </arcgis-expand>
      <arcgis-expand position="bottom-left" expanded>
        <arcgis-legend></arcgis-legend>
      </arcgis-expand>
    </arcgis-map>
    }
    <div class="map-buttons">
      <div class="row">
        <button mat-mini-fab (click)="openDrawer('criteria')"
                matTooltipPosition="right" matTooltip="Adjust criteria">
          <mat-icon>linear_scale</mat-icon>
        </button>
        @if (isBusy) {
        <mat-progress-spinner class="criteria-spinner"
                              mode="indeterminate" diameter="32"
                              [matTooltip]="getLoadingRegionsMessage(busyRegions!)">
        </mat-progress-spinner>
        }
      </div>
      <button mat-mini-fab (click)="openDrawer('style')"
              matTooltipPosition="right" matTooltip="Layer Style">
        <mat-icon>brush</mat-icon>
      </button>
      <button mat-mini-fab (click)="openConfig()"
              matTooltipPosition="right" matTooltip="Configuration">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
