@use '@angular/material' as mat;

$theme: mat.define-theme();

mat-drawer-container {
  width: 100%;
  height: 100%;
}

mat-drawer {
  mat-toolbar > span {
    // expand to push X button to right
    flex: auto;
  }

  app-layer-style-editor {
    width: 100%;
  }
}

.drawer-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-toolbar {
    // flex shrink causes extra scrollbar
    flex: none;

    mat-progress-spinner {
      margin-left: 8px;
    }
  }

  app-selection-criteria {
    height: 100px;
    flex: auto;
  }
}

// ESRI buttons are offset in global styles.scss
.map-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 12px;
  left: 12px;

  .row {
    align-items: center;
    gap: 8px;
  }
  mat-progress-spinner {
    // @include mat.progress-spinner-color($theme, $color-variant: secondary);
    --mdc-circular-progress-active-indicator-color: rgba(237, 237, 237, 0.8);
  }
}

.styling-content {
  padding: 0 8px 16px 8px;
}
