:host {
  display: block;
  padding: 16px;
}

mat-card {
  max-width: 100em;
  margin-bottom: 16px;
}
mat-card-header {
  justify-content: space-between;
}

.actions {
  display: flex;
  column-gap: 16px;
}
