<div class="form-container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="runName">Name of Model Run:</label>
      <input id="runName" formControlName="runName" type="input">
      @if (myForm.get('runName')!.invalid && myForm.get('runName')!.touched) {
      <div class="error-message">
        String field is required.
      </div>
      }
    </div>

    <div class="form-group">
      <label for="numScenarios">Number of scenarios:</label>
      <input id="numScenarios" formControlName="numScenarios" type="input">
      @if (myForm.get('numScenarios')!.invalid && myForm.get('numScenarios')!.touched) {
      <div class="error-message">
        Must be a power of two.
      </div>
      }
    </div>
    <div class="form-group">
      <label>Tabular Acropora Seeded Bounds:</label>
      <mat-slider [min]="0" [max]="1000000" [step]="1000" type="range" discrete [displayWith]="thousandDeployed">
        <input matSliderStartThumb formControlName="ta_lower">
        <input matSliderEndThumb formControlName="ta_upper">
      </mat-slider>
      @if (myForm.get('ta_lower')!.invalid && myForm.get('ta_lower')!.touched) {
      <div class="error-message">
        Must be a number.
      </div>
      }
    </div>

    @if (!successful_execution) {
    <button type="submit">Submit</button>
    }
    @else {
    <button mat-flat-button routerLink="/view-run/{{ model_run_name }}">
      Open
    </button>
    }
  </form>
</div>
