:host {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  height: 100%;
}

mat-expansion-panel {
  margin: 16px 0 8px 16px;
  flex: none;
}

button {
  margin-left: 16px;
  flex: none;
}

mat-tab-group {
  width: 100%;
  flex: 1 1 auto;
  overflow: auto;
}

app-reef-map {
  display: block;
  width: 100%;
  height: 100%;
}

.content {
  padding: 16px;
}

mat-toolbar {
  gap: 16px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.plot-iframe {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 800px;
  height: 325px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
