@defer (when run()) {
@if (run(); as run) {
<mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
        <mat-panel-title>{{ run.title }}</mat-panel-title>
    </mat-expansion-panel-header>
    <p *ngIf="run.desc">{{ run.desc }}</p>
    <table class="info-table">
        <tr *ngIf="run.creator">
            <th>Creator:</th>
            <td>{{ run.creator }}</td>
        </tr>
        <tr *ngIf="run.publish_date">
            <th>Publish Date:</th>
            <td>{{ run.publish_date | date }}</td>
        </tr>
        <tr>
            <th>Invoked:</th>
            <td>{{ run.invoke_time }}
                @if (run.runtime) {
                , took <em>{{ run.runtime }}</em>
                }
            </td>
        </tr>
        <tr>
            <th>Model:</th>
            <td>{{ run.model_name }} {{ run.model_version }}</td>
        </tr>
        <tr *ngIf="run.handle_id">
            <th>Data:</th>
            <td><a href="https://mds.gbrrestoration.org/">M&DS</a></td>
        </tr>
    </table>

</mat-expansion-panel>
}
} @placeholder {
<p>Loading...</p>
}


<mat-tab-group>
    <mat-tab label="Parameters">
        <ng-template matTabContent>
            <app-modelspec-explorer [data]="modelspecDataframe$ | async"></app-modelspec-explorer>
        </ng-template>
    </mat-tab>
    <mat-tab label="Scenarios">
        <ng-template matTabContent>
            <app-dataframe-table [data]="scenariosDataframe$ | async"></app-dataframe-table>
        </ng-template>
    </mat-tab>
    <mat-tab label="Site Ranking">
        TODO
    </mat-tab>
    <mat-tab label="Map">
        <ng-template matTabContent>
            <arcgis-map [itemId]="mapItemId" (arcgisViewReadyChange)="arcgisViewReadyChange($event)">
                <arcgis-expand>
                    <arcgis-search position="top-right"></arcgis-search>
                </arcgis-expand>
                <arcgis-legend position="bottom-left"></arcgis-legend>
            </arcgis-map>
        </ng-template>
    </mat-tab>
</mat-tab-group>