<button mat-button routerLink="/runs">
    <mat-icon>arrow_back</mat-icon>
    Back to model runs
</button>

@if (run(); as run) {
<mat-card>
    <mat-card-header>
        <mat-card-title>{{ run.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <table class="info-table">
                <tr>
                    <th>Creator:</th>
                    <td>{{ run.creator }}</td>
                </tr>
                <tr>
                    <th>Publish Date:</th>
                    <td>{{ run.publishDate | date }}</td>
                </tr>
                <tr>
                    <th>Runtime:</th>
                    <td>{{ run.runtime }} <em>finished</em> {{ run.finishDate | date }}</td>
                </tr>
                <tr>
                    <th>Model:</th>
                    <td>{{ run.modelName }}</td>
                </tr>
                <tr>
                    <th>Data:</th>
                    <td><a href="https://mds.gbrrestoration.org/">M&DS</a></td>
                </tr>
            </table>
            <p class="mat-body-large">{{ run.desc }}</p>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Parameters</button>
        <button mat-button>Data Packages</button>
        <button mat-button>Scenarios</button>
    </mat-card-actions>
</mat-card>

<arcgis-map [itemId]="mapItemId" (arcgisViewReadyChange)="arcgisViewReadyChange($event)">
    <arcgis-expand>
        <arcgis-search position="top-right"></arcgis-search>
    </arcgis-expand>
    <arcgis-legend position="bottom-left"></arcgis-legend>
</arcgis-map>
}