.row {
  align-items: baseline;
  gap: 12px;

  .color {
    width: 42px;
    height: 42px;
  }

  mat-form-field {
    flex: auto;
  }
}
header {
  padding-left: 16px;
  font-weight: 500;
}
mat-slider {
  width: calc(100% - 24px);
}
