<div class="row">
  @if (supportsColor()) {
    <input
      class="color"
      type="color"
      [value]="currentColor()"
      (input)="onColorChange($event)"
    />
  }
  <mat-form-field>
    <mat-label>Blend Mode</mat-label>
    <mat-select
      [value]="layer().blendMode"
      (selectionChange)="onBlendModeChange($event.value)"
    >
      @for (mode of blendModes; track mode) {
        <mat-option [value]="mode">{{ mode }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
<div style="width: 100%">
  <header>Opacity</header>
  <mat-slider min="0" max="1" step="0.02">
    <input
      matSliderThumb
      [value]="layer().opacity"
      (input)="onOpacityInput($event)"
    />
  </mat-slider>
</div>
