<arcgis-map [itemId]="mapItemId"
            (arcgisViewReadyChange)="arcgisViewReadyChange($event)"
            (arcgisViewLayerviewCreate)="arcgisViewLayerviewCreate($event)"
            (arcgisViewClick)="arcgisViewClick($event)">
  <arcgis-expand>
    <arcgis-search position="top-right"></arcgis-search>
  </arcgis-expand>
  <arcgis-legend position="bottom-left"></arcgis-legend>
</arcgis-map>
<div class="timestep-container">
  @if (yearExtent$ | async; as extent) {
  <app-time-slider [min]="extent[0]" [max]="extent[1]" (valueChange)="onYearRange($event)"></app-time-slider>
  }
  <mat-progress-spinner mode="indeterminate" diameter="24"
                        [style.visibility]="(timestepLoading$ | async) ? 'visible' : 'hidden'">
  </mat-progress-spinner>
</div>
