/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.info-table {
    th {
        text-align: right;
        color: rgba(0, 0, 0, 0.7);
    }
    td {
        padding-left: 0.5em;
    }
}

.row {
    display: flex;
}

// ArcGis Theme
// Alternatively, could load stylesheet index.html
// <link rel="stylesheet" href="https://js.arcgis.com/4.30/esri/themes/dark/main.css" />
// However, this has nicer legend heading size.
@import "@arcgis/core/assets/esri/themes/light/main.css";
