:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scrollable {
  flex: auto;
  overflow: auto;
}

.criteria {
  box-sizing: border-box;
  padding: 8px 16px 0 16px;
  border-bottom: 1px solid lightgray;

  button.visibility {
    color: lightgray;
  }

  .row {
    justify-content: space-between;
    align-items: center;
  }
  .label {
    font-weight: 500;
  }

  &.visible {
    // TODO mat theme color
    border-left: 8px solid dodgerblue;
    padding-left: 8px;

    button.visibility {
      color: inherit; // default
    }
  }
}

.ss-container {
  padding: 12px;

  --mat-switch-label-text-size: 1.375rem;

  mat-slide-toggle {
    margin-bottom: 16px;
  }

  .row {
    gap: 12px;
  }

  mat-slider {
    width: calc(100% - 24px);
  }
}
.assess-container {
  padding: 16px;
  border-top: 1px solid lightgray;

  .assess-button {
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 500;

    mat-icon {
      margin-right: 8px;
    }
  }
}
