:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scrollable {
  flex: auto;
  overflow: auto;
}

.criteria {
  box-sizing: border-box;
  padding: 8px 16px 0 16px;
  border-bottom: 1px solid lightgray;

  button.visibility {
    color: lightgray;
  }

  .row {
    justify-content: space-between;
    align-items: center;
  }
  .label {
    font-weight: 500;
  }

  &.visible {
    // TODO mat theme color
    border-left: 8px solid dodgerblue;
    padding-left: 8px;

    button.visibility {
      color: inherit;  // default
    }
  }
}
