<div class="scrollable">
<form>
  @for (c of criteria; track c.id) {
    @let criteriaLayer = mapService.criteriaLayers[c.id];
    @let visible = criteriaLayer?.visible();
    <div class="criteria" [class.visible]="visible === true">
      <div class="row">
        <span class="label">{{ c.name }}</span>
        @if (visible != null) {
        <button mat-icon-button class="visibility"
                (click)="mapService.showCriteriaLayer(c.id, !visible)">
          <mat-icon>{{ visible ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        }
      </div>
      <calcite-slider [name]="c.id"
                      [min]="c.min" [max]="c.max" [step]="c.step ?? 1" snap
                      [minValue]="c.min" [maxValue]="c.max" labelHandles></calcite-slider>
    </div>
  }
</form>
</div>

